NEXT_PUBLIC_APP_TITLE="@workspace/web - Development"
NEXT_PUBLIC_APP_URL="https://dev.my-app.com"
NEXT_PUBLIC_API_BASE_URL="https://dev.api.my-app.com"
NEXT_PUBLIC_FLAGSMITH_ENVIRONMENT_ID="FWo..."
NEXT_PUBLIC_FLAGSMITH_API_URL="http://localhost:8000/api/v1/"
NEXT_PUBLIC_OTEL_EXPORTER_OTLP_ENDPOINT="http://localhost:4318"
NEXT_PUBLIC_OTEL_LOG_LEVEL="INFO"