name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  # The "FORCE_COLOR" variable, when set to 1
  FORCE_COLOR: "1"

jobs:
  sherif:
    name: Lint monorepos
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2
      - uses: QuiiBz/sherif@v1.6.1
        # with:
        # args: '--ignore-rule root-package-manager-field'

  lint-typecheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v4.2.2

      - name: Install bun
        uses: oven-sh/setup-bun@v2.0.2
        with:
          bun-version: latest

      - name: Install deps and disallow changes to lockfile
        run: bun ci

      - name: Lint
        run: bun lint-typecheck

  dev-spa-e2e:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    environment: dev
    # container:
    #   image: mcr.microsoft.com/playwright:v1.42.0-focal
    strategy:
      fail-fast: false
      matrix:
        shardIndex: [1, 2, 3, 4]
        shardTotal: [4]
    if: "!contains(github.event.head_commit.message, 'e2e skip') && !contains(github.event.head_commit.message, 'skip e2e')"
    steps:
      - name: Checkout branch
        uses: actions/checkout@v4.2.2

      - name: Install bun
        uses: oven-sh/setup-bun@v2.0.2
        with:
          bun-version: latest

      - name: Install deps and disallow changes to lockfile
        run: bun ci

      - name: Save github secrets as env file
        run: echo "${{ secrets.SPA_ENV_FILE }}" > apps/spa/.env.dev

      - name: Install playwright browsers
        run: bun spa:ci test:install

      - name: Run playwright tests
        run: bun spa:ci test:ci
        env:
          SHARD_INDEX: ${{ matrix.shardIndex }}
          SHARD_TOTAL: ${{ matrix.shardTotal }}

      - name: Save playwright report as artifact
        uses: actions/upload-artifact@v6.0.0
        if: always()
        with:
          name: spa-playwright-report-${{ matrix.shardIndex }}
          path: apps/spa/playwright-report
          retention-days: 7

  # TODO: uncomment this when we are able to mock the auth api (better-auth) on the server-side
  # dev-web-e2e:
  #   timeout-minutes: 30
  #   runs-on: ubuntu-latest
  #   environment: dev
  #   # container:
  #   #   image: mcr.microsoft.com/playwright:v1.42.0-focal
  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       shardIndex: [1, 2, 3, 4]
  #       shardTotal: [4]
  #   if: "!contains(github.event.head_commit.message, 'e2e skip') && !contains(github.event.head_commit.message, 'skip e2e')"
  #   steps:
  #     - name: Checkout branch
  #       uses: actions/checkout@v4.2.2

  #     - name: Install bun
  #       uses: oven-sh/setup-bun@v2.0.2
  #       with:
  #         bun-version: latest

  #     - name: Install deps and disallow changes to lockfile
  #       run: bun ci
      
  #     - name: Save github secrets as env file
  #       run: echo "${{ secrets.WEB_ENV_FILE }}" > apps/web/.env.dev

  #     - name: Install playwright browsers
  #       run: bun web:ci test:install

  #     - name: Run playwright tests
  #       run: bun web:ci test:ci
  #       env:
  #         SHARD_INDEX: ${{ matrix.shardIndex }}
  #         SHARD_TOTAL: ${{ matrix.shardTotal }}

  #     - name: Save playwright report as artifact
  #       uses: actions/upload-artifact@v6.0.0
  #       if: always()
  #       with:
  #         name: web-playwright-report-${{ matrix.shardIndex }}
  #         path: apps/web/playwright-report
  #         retention-days: 7

  dev-spa-build:
    runs-on: ubuntu-latest
    environment: dev
    steps:
      - name: Checkout branch
        uses: actions/checkout@v4.2.2

      - name: Install bun
        uses: oven-sh/setup-bun@v2.0.2

      - name: Install deps and disallow changes to lockfile
        run: bun ci

      - name: Save github secrets as env file
        run: echo "${{ secrets.SPA_ENV_FILE }}" > apps/spa/.env.dev

      - name: Build
        run: bun spa:ci build

  dev-web-build:
    runs-on: ubuntu-latest
    environment: dev
    steps:
      - name: Checkout branch
        uses: actions/checkout@v4.2.2

      - name: Install bun
        uses: oven-sh/setup-bun@v2.0.2

      - name: Install deps and disallow changes to lockfile
        run: bun ci

      - name: Save github secrets as env file
        run: echo "${{ secrets.WEB_ENV_FILE }}" > apps/web/.env.dev

      - name: Build
        run: bun web:ci build
